.titulo{
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 70px;
}
body{
    background-color: rgb(17, 0, 255);
}
.tabela{
    font-size: 10px;
    color: rgb(255, 255, 255);
}