.titulo{
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 70px;
}
body{
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326559 165.37%);
}
.tabela{
    font-size: 30px;
    color: rgb(255, 255, 255);
}